.pokemonInfo {
  height: calc(100vh - var(--navBar-heaght));
  .blockFirst {
    display: flex;
    padding-top: 30px;

    .blockImage {
      height: 250px;
      width: 250px;
      margin: 15px;
      border-radius: 5px;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
      background-color: var(--clouds);
      img {
        height: 100%;
      }
    }
    .blockInfo {
      width: 100%;
      margin: 15px;
      border-radius: 5px;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
      background-color: var(--clouds);
      .pokName {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 1em;
        background-color: #dadada;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        h1 {
          text-transform: capitalize;
          line-height: 50px;
          font-weight: 500;
        }
        .typePanel {
          display: flex;
          .typeBtn {
            line-height: 28px;
            border-radius: 15px;
            margin: 0 10px;
            padding: 0 15px;
            font-weight: 500;
            border: 1px solid var(--black);
            color: var(--black);
          }
          .poison {
            background-color: red;
          }
        }
      }

      .pokInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: calc(100% - 80px);
        margin: 15px 20px 15px 20px;
        .info {
          display: flex;
          align-items: center;
          p {
            width: 140px;
          }
          progress {
            width: calc(100% - 140px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .pokemonInfo {
    // height: auto;
    .blockFirst {
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;
    }
  }
}
