.pagination {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  li {
    min-width: 30px;
    height: 30px;
    margin: 0 3px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clouds);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  }
  .rc-pagination-item-active {
    a {
      font-weight: 700;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  // padding-bottom: 50px;

  a {
    color: var(--black);
  }
}

@media screen and (max-width: 1050px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 640px) {
  .list {
    grid-template-columns: 1fr;
  }
}
