.pokemonTyle {
  display: flex;
  // flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--clouds);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  p {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 24px;
  }
  .loader {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .loader:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--silver);
    border-color: var(--silver) transparent var(--silver) transparent;
    animation: loader 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.pokemonTyle:hover {
  transform: translateY(-10px);
  box-shadow: 1px 10px 3px 0px rgba(0, 0, 0, 0.2);
}
